body {
  font-family: $base-font !important;
  font-size: $base-font-size !important;
  font-weight: $base-font-weight !important;
  color: $base-color;
  margin: 0;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $theme-color;
    border-radius: 15px;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}
p {
  margin: 0;
  padding: 0;
}
.ti {
  font-size: 24px;
  font-weight: 500;
}
button,
input {
  &:hover,
  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}
.fontli {
  display: flex;
  align-items: center;
  .font-btn {
    background: #fff;
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    cursor: pointer;
    border-right: 1px sold #dbdbdb !important;
    &:last-of-type {
      border-right: 0;
    }
  }
}
